    .tab-bar {
      margin-top: 0px; 
      justify-content: center;
      padding-top: 0px;
      padding-bottom: 12.5px;
      padding-left: 42.5px;
      padding-right: 42.5px;
      align-items: center; 
      display: flex;
      border-radius: 50px;
      background-color: transparent;
      -webkit-tap-highlight-color: transparent;
    }

    .tab-bar button {
      flex: 1;
      padding: 6px 9px;
      font-size: 20px;
      font-weight: bold;
      background: #444;
      font-family: 'Anton', sans-serif;
      border-radius: 50px;
      color: white;
      -webkit-text-stroke: 0.5px black;
      text-shadow: 0 0 1px black;
      border: none;
      cursor: pointer;
      margin-right: 45px; /* jarak antar tombol */
      transition: 
        background 0.5s ease,
        box-shadow 0.4s ease,
        transform 0.3s ease;
    }

    /* Hapus margin kanan di tombol terakhir */
    .tab-bar button:last-child {
      margin-right: 0;
    }

    .tab-bar button.active {
      background: #f39c12;
      box-shadow: 0 0 5px #f39c12;
      transform: scale(1.1);
    }

    .tab-bar button.active span {
      display: inline-block;
      animation: zoomIn 0.5s forwards;
      animation-delay: calc(var(--i) * 0.1s); /* beda delay tiap huruf */
      transform: scale(0);
      -webkit-text-stroke: 0.5px black;
      text-shadow: 0 0 2px black;
    }
    
    @keyframes zoomIn {
      to {
        transform: scale(1);
      }
    }

    .viewpager {
      position: absolute;
      padding-top: 0px;
      padding-bottom: 0px;
      left: 0;
      right: 0;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
    }

    .page-1 {
      flex: 0 0 100%;
      height: 100vh;
      scroll-snap-align: start;
      padding-top: 160px;
      padding-bottom: 90px;
      overflow-y: auto;
    }
    
    .page-2 {
      flex: 0 0 100%;
      height: 100vh;
      scroll-snap-align: start;
      padding-top: 160px;
      padding-bottom: 90px;
      overflow-y: auto;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 768px) {
      .page-1 {
        flex: 0 0 100%;
        padding-top: 130px;
        padding-bottom: 85px;
        overflow-y: auto;
      }
      
      .page-2 {
        flex: 0 0 100%;
        padding-top: 130px;
        padding-bottom: 85px;
        overflow-y: auto;
      }
      
      .tab-bar {
        padding-top: 0px;
        padding-bottom: 12.5px;
        padding-left: 20px;
        padding-right: 20px;
      }
      
      .tab-bar button {
        padding: 2px 10px;
        font-size: 15px;
        margin-right: 20px; /* jarak antar tombol */
      }
    }
